strafechatbox {
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 100;
    flex-direction: column;
    justify-content: flex-end;
    width: 600px;
    height: 350px;
    font-family: Verdana;
    font-weight: 500;
    font-size: 16px;
    text-shadow: 1px 1px 1px black;
    padding: 8px;
    border-radius: 4px;

    textentry {
        opacity: 0;
        color: white;
        padding: 8px;
        background-color: rgba( white, 0.05 );
        flex-shrink: 0;
        flex-grow: 0;
        width: 100%;
        font-size: 18px;
        margin-top: 4px;
        border-radius: 4px;
    }

    .chat_canvas {
        flex-direction: column;
        align-items: flex-start;
        overflow: scroll;
    }

    &.open {
        textentry {
            opacity: 1;
        }

        pointer-events: all;
        background-color: rgba(0,0,0,0.8);

        strafechatentry {
            opacity: 1;
        }
    }

    &.closed .faded {
        opacity: 0;
    }
}

strafechatentry {
    color: white;
    max-height: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    padding:2px 2px;
    margin-bottom:1px;
    padding-left: 20px;
    max-width: 100%;
    transform: scale( 1 );

    &:intro {

    }

    &:outro {
        height:0px;
        transition: all 2s ease-out;
    }

    image {
        width: 16px;
        height: 16px;
        min-height: 16px;
        border-radius: 100px;
        position: absolute;
        left: 0px;
        top: 4px;
    }

    .name {
        padding-right: 0px;
        font-weight: 600;
        color: #00a1ff;
        flex-shrink: 0;
    }

    .message {
        color: #ccc;
        //	background-color: red;
        flex-grow: 1;
        color:white;
    }

    &.noname .name {
        display: none;
    }

    &.noavatar image {
        display: none;
    }
}
