timerhud {
    position: absolute;
    left: 50%;
    bottom: 200px;
    transform: translateX(-50%);
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 16px;
    font-family: Verdana;
    color: white;
    text-shadow: 1px 1px 1px black;

    label {
        text-align: center;
    }
}
