wrhud {
    position: absolute;
    right: 128px;
    top: 128px;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 17px;
    font-family: Consolas;
    color: white;
    text-shadow: 1px 1px 1px black;

    label {
        text-align: right;
    }
}
